<% content_for :title, "Editing ventum" %>

<h1>Editing ventum</h1>

<%= render "form", venta: @venta %>

<br>

<div>
  <%= link_to "Show this ventum", @venta %> |
  <%= link_to "Back to venta", venta_path %>
</div>
