<% content_for :title, "New detalles ventum" %>

<h1>New detalles ventum</h1>

<%= render "form", detalles_ventum: @detalles_ventum %>

<br>

<div>
  <%= link_to "Back to detalles venta", detalles_venta_path %>
</div>
